/*
	IMPORTA FUENTE DE GOOGLE FONTS PARA UTILIZAR
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*
	CSS de fondo de la página
*/
html {
	background-color: #ffffff;
}


/*
	CSS de contenido de la página,
	todo lo que se haga queda dentro.
*/
body{
    background-color: #ffffff;
    width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

/*
	CSS correspondiente al logo
*/

.logo{
    margin: auto;
    display: block;
    background-color:rgba(206, 255, 247, 0.01);
}

.encabezado{
    background-color: #2e6b61;
    background-image: url("/images/pictures/banner.jpg");
    background-position: center;
}

/*
	CSS correspondiente al menú nav
*/

.navigation {
    background-color: #5aa492;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.navigation a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

header .navigation {
    display: table;
}

nav{
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    color: white;
    height: 10px;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
    border-right: 1px solid #2e6b61;
    border-left: 1px solid #2e6b61;
}

/*
	CSS correspondiente a todo lo que contenga el CLASS "contenedor"
*/

.contenedor {
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
	align-content: center;
	flex-wrap: wrap;
    justify-content: center;
}

/*
	CSS correspondiente a algo de sidebar que no se ha hecho nada con eso xd
*/

.sidebar{
    background-color: #5aa492;
}



