/*
	IMPORTA FUENTE DE GOOGLE FONTS PARA UTILIZAR
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*
	CSS de fondo de la página
*/
html {
	background-color: #2e6b61;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%230b352e' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}


/*
	CSS de contenido de la página,
	todo lo que se haga queda dentro.
*/
body{
    width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
/*
    Se quita el margin y padding de hr para evitar que se pegue con la primera imágen
*/
hr{
    padding-bottom: 0;
    margin-bottom: 0;
}

/*
	CSS correspondiente al logo
*/

.logo{
    margin: auto;
    display: block;
    background-color:rgba(206, 255, 247, 0.01);
}

.encabezado{
    background-color: #2e6b61;
    background-image: url("../images/pictures/banner.jpg");
    background-position: center;
}

/*
    CSS correspondiente al footer de abajo
*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background-color: #000000;
    color: #ffffff;
}

.copy {
    font-size: 20px;
}

/*---------------- estilos cards ------------*/

.containercard {
    width: 100%;
    max-width: 1200px;
    height: 2100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containercard .card{
    width: 330px;
    height: 470px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.containercard .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containercard .card img{
    width: 330px;
    height: 220px;
    
}

.containercard .card h4{
    font-size: large;
    font-weight: 700;

}

.containercard .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.containercard .card a {
    font-weight: 500;
    text-decoration: none;
    color: blue;
}

/*------- estilo de los artículos --------- */

.container-content {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #2e6b61;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article h2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: black;
    text-align: justify;
}

article img{
    width: 50%;
    margin-top: 20px;
}


/* -------- estilos del showcase ------- */
.showcase{
    width: 100%;
    height: 550px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.showcase1-bckgrnd{
    /*background-image: url("/images/showcase/showcase11.jpg"); */
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/showcase/showcase11.jpg) no-repeat center center/cover;
}

.showcase2-bckgrnd{
    /*background-image: url("/images/showcase/showcase11.jpg"); */
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/showcase/showcase7.jpg) no-repeat center center/cover;
}

.showcase3-bckgrnd{
    /*background-image: url("/images/showcase/showcase11.jpg"); */
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/showcase/showcase1.jpeg) no-repeat center center/cover;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #2e6b61;
    color: #ffffe1;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;

}

.btn:hover{
    opacity: .7;
}

.showcase h2, .showcase2 h2{
    margin-bottom: 10px;
    color: #ffffe1;

}

.showcase p, .showcase2 p{
    margin-bottom: 10px;
    color: #ffffe1;
    width: 70%;
    text-align: center;
    
}

/*-------------------------- estilos de las tarjetas de tips html --------------*/
.containercard2 {
    width: 100%;
    max-width: 1200px;
    height: 3000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containercard2 .card{
    width: 1000px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: beige;
}

.containercard2 .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containercard2 .card img{
    width: 330px;
    height: 220px;
    
}

.containercard2 .card h4{
    font-weight: 600;

}

.containercard2 .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.containercard2 .card a {
    font-weight: 500;
    text-decoration: none;
    color: blue;
}