/*
	CSS correspondiente al menú nav
*/

.navigation {
    background-color: #5aa492;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.navigation a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

header .navigation {
    display: table;
}

nav{
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    color: white;
    height: 10px;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
    border-right: 1px solid #2e6b61;
    border-left: 1px solid #2e6b61;
}
