/*
	IMPORTA FUENTE DE GOOGLE FONTS PARA UTILIZAR
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*
	CSS de fondo de la página
*/
html {
	background-color: #ffffff;
}


/*
	CSS de contenido de la página,
	todo lo que se haga queda dentro.
*/
body{
    background-color: #ffffff;
    width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

/*
	CSS correspondiente al logo
*/

.logo{
    margin: auto;
    display: block;
    background-color:rgba(206, 255, 247, 0.01);
}

.encabezado{
    background-color: #2e6b61;
    background-image: url("/images/pictures/banner.jpg");
    background-position: center;
}

/*
	CSS correspondiente a todo lo que contenga el CLASS "contenedor"
*/

.contenedor {
    width: 80%;
    margin: auto;
    background-color: white;
	align-content: center;
    justify-content: center;
}


.contenedor h1{
    display: flex;   
    align-content: center;
    justify-content: center;
}

.preguntas{
    border: 1px solid #2e6b61;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*
    CSS correspondiente al footer de abajo
*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background-color: #2e6b61;
}

.copy {
    font-size: 20px;
}
