/*
	CSS correspondiente al menú nav
*/

/*Agrega opción que menu bar se apegue a pantalla al hacer scroll*/
.container{
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
}

a{
    color: #ffffe1;
    /*quita subrayado del link*/
    text-decoration: none;
}

/*quita los estilos por defecto que tienen los ul*/
ul{
    list-style: none;
}

/*centrar la clase container */

.container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /*centrar el elemento*/
    margin: auto;
    align-content: center;
    justify-content: center;
    
}

/*estilos de la navegacion*/
.nav-main{
    font-size: 17px;
    /*permite organizar los elementos*/
    display: flex;
    /*utilizando todo el ancho disponible*/
    justify-content: center;
    align-items: center;
    height: 60px;
    /*padding: 20px 0;*/
}

.nav-brand{
    width: 50px;
    justify-content: right;
}

.nav-main ul li{
    /*separa los elementos inicio receta, etc por 10 px*/
    padding: 10px;
}
/*separa los elementos enlaces del nav */
.nav-main ul li a{
    padding: 15px;
}
/*un subrayado a los elementos del nav*/
.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffe1;
}
